.header {
    display: flex;
    align-items: center;
    gap: 10px;
    h1{
    flex:1;
    border-bottom: 1px solid gray;
    }
    button{
        max-height: 40px;
    }
    
}

table {
    width: 100%;
    border: 2px solid gray;
    border-collapse: collapse;
    th,td{
        border: 2px solid gray;
    }
}

table tr:first-child{
    background-color: var(--sec-text);
}